---
import BaseLayout from "../../layouts/BaseLayout.astro"
import { getCollection } from "astro:content"
import PostPreview from "@/components/PostPreview.astro"

const allPosts = await getCollection("posts")

const pageTitle = "Blog"
const description = "My learning journey"
---

<BaseLayout pageTitle={pageTitle} description={description}>
  <section class="flex flex-col gap-12">
    {allPosts.map((post) => <PostPreview post={post} />)}
  </section>
</BaseLayout>
