---
import BaseLayout from "../layouts/BaseLayout.astro"
import { Icon } from "astro-icon/components"

const pageTitle = "About Me"
const description = "Get to know me"
---

<BaseLayout pageTitle={pageTitle} description={description}>
  <section class="mb-8">
    <h2>Skills</h2>
    <div class="grid grid-cols-2 lg:grid-cols-3 skills-container gap-4">
      <section>
        <h3>Languages</h3>
        <ul>
          <li>JavaScript</li>
          <li>TypeScript</li>
          <li>HTML/CSS</li>
          <li>Python</li>
          <li>SQL</li>
        </ul>
      </section>
      <section>
        <h3>Libraries/Framework</h3>
        <ul>
          <li>React</li>
          <li>Next.js</li>
          <li>Node.js</li>
          <li>Express.js</li>
          <li>Tailwind CSS</li>
          <li>Flask</li>
        </ul>
      </section>
      <section>
        <h3>Database</h3>
        <ul>
          <li>PostgreSQL</li>
          <li>MySQL</li>
          <li>MongoDB</li>
          <li>Convex</li>
        </ul>
      </section>
      <section>
        <h3>Others Skills</h3>
        <ul>
          <li>UI/UX Design (Figma prototyping)</li>
          <li>Web Accessibility (WCAG)</li>
          <li>Cloud Services - AWS, GCP</li>
          <li>
            Translation - <a
              href="https://www.naati.com.au/"
              class="underline hover:text-primary">NAATI</a
            > Certified
          </li>
          <li>Project Management</li>
          <li>Video Subtitling</li>
        </ul>
      </section>
    </div>
  </section>
  <section>
    <h2>Experience</h2>
    <div class="experience">
      <div>
        <h3>
          <Icon name="mdi:work-outline" aria-hidden="true" />Web Developer
          Intern @ Illume Foundation
        </h3>
        <p>Jan - Mar 2024</p>
      </div>
      <div>
        <h3>
          <Icon name="ph:student" aria-hidden="true" />AWS Certified Developer -
          Associate
        </h3>
        <p>Dec 2023</p>
      </div>
      <div>
        <h3>
          <Icon name="ph:student" aria-hidden="true" />AWS Certified Solution
          Architect - Associate
        </h3>
        <p>Nov 2023</p>
      </div>
      <div>
        <h3>
          <Icon name="ph:student" aria-hidden="true" />Diploma of IT @ Coder
          Academy
        </h3>
        <p>Mar 2023 - Sep 2023</p>
      </div>
      <div>
        <h3>
          <Icon name="mdi:work-outline" aria-hidden="true" />Project Manager @
          Ethnolink Language Services
        </h3>
        <p>May 2021 - Dec 2022</p>
      </div>
    </div>
  </section>
</BaseLayout>

<style>
  h2 {
    @apply text-2xl font-bold text-primary mb-2;
  }
  .skills-container section {
    @appy mb-4;
  }
  .skills-container section h3 {
    @apply font-semibold mb-1;
  }

  .experience {
    @apply flex flex-col gap-1;
  }
  .experience div {
    @apply flex justify-between max-w-xl;
  }
  .experience div h3 {
    @apply flex gap-2 items-center;
  }
</style>
