---
import BaseLayout from "../layouts/BaseLayout.astro"

const pageTitle = "About"
const description = "My experience and coding skills"
---

<BaseLayout pageTitle={pageTitle} description={description}>
  <p>About</p>
</BaseLayout>
