---
import BaseLayout from "../layouts/BaseLayout.astro"

const pageTitle = "Blog"
const description = "My learning journey"
---

<BaseLayout pageTitle={pageTitle} description={description}>
  <p>blog content</p>
</BaseLayout>
