---
import BaseLayout from "../layouts/BaseLayout.astro"

const pageTitle = "Home"
const description = "Full stack web developer"
---

<BaseLayout pageTitle={pageTitle} description={description}>
  <main>Main content</main>
</BaseLayout>
