---
import BaseLayout from "@layouts/BaseLayout.astro"
import { Content as AboutText } from "./_about.md"
import Prose from "@/components/Prose.astro"

const description = "Full-stack web developer"
---

<BaseLayout description={description}>
  <div
    class="flex flex-col md:flex-row gap-8 w-full transition-all pb-4 items-center"
  >
    <div class="flex md:flex-none justify-center">
      <div
        class="h-48 w-48 md:h-56 bg-accent dark:bg-dark-accent rounded-full md:rounded-md shadow-lg flex justify-center"
      >
        <img
          class="h-48 md:h-56 rounded-full md:rounded-none"
          src="/profile.png"
          title="Avatar - Wenxuan Pan"
        />
      </div>
    </div>
    <div class="flex-1 text-center md:text-left">
      <Prose>
        <AboutText />
      </Prose>
    </div>
  </div>
  <p>Main content</p>
</BaseLayout>
