---
import BaseLayout from "../layouts/BaseLayout.astro"

const pageTitle = "Projects"
const description = "My side projects"
---

<BaseLayout pageTitle={pageTitle} description={description}>
  <p>project content</p>
</BaseLayout>
