---
import BaseLayout from "../layouts/BaseLayout.astro"

const pageTitle = "Color contrast for tailwind colors"
const description = "Checking accessibility scores for tailwind colors"
---

<BaseLayout pageTitle={pageTitle} description={description}>
  <p>tailwind colors</p>
</BaseLayout>
