---
import { SITE } from "@/config"
---

<footer class="py-6 border-t mt-4">
  <nav>
    <div>
      2024 &copy; Wenxuan Pan (<a
        href={SITE.githubUrl}
        title={`${SITE.name}'s Github URL'`}
        class="underline">wenxpan</a
      >) | Built with <a href="https://astro.build/" class="underline">Astro</a>
    </div>
  </nav>
</footer>
