---

---

<footer class="py-6 border-t mt-4 dark:text-dark-primary">
  <nav class="flex flex-col items-center">
    <p>2024 &copy; Wenxuan Pan.</p>
    <p>
      Built with <a href="https://astro.build/" class="underline">Astro</a>
    </p>
  </nav>
</footer>
