---
import { SITE } from "@/config"
import { Icon } from "astro-icon/components"
const subHeading = "Full stack web developer"
---

<header class="header">
  <div class="header__logo">
    <a href="/" class="avatar">
      <Icon
        name="wp-logo"
        class="w-16 h-16 rounded-full overflow-hidden text-primary dark:text-dark-primary"
      />
    </a>
  </div>
  <div class="header__meta flex-1">
    <h3
      class="text-4xl font-extrabold md:text-5xl text-secondary dark:text-dark-secondary"
    >
      <a href="/">{SITE.name}</a>
    </h3>
    <div class="header__meta-more flex">
      <p class="text-xl flex-1 dark:text-gray-200">
        {subHeading}
      </p>
      <nav class="header__nav flex">
        <ul class="flex gap-3 text-gray-400">
          <li>
            <!-- TODO: add functionality -->
            <Icon name="icon-park-outline:search" /><li>
              <a href={SITE.githubUrl} title={`${SITE.name}'s Github URL'`}>
                <Icon
                  name="icon-park-outline:github-one"
                  class="hover:text-primary"
                />
              </a>
            </li>
            <li>
              <a href="/rss.xml" title="RSS">
                <Icon name="ph:rss" />
              </a>
            </li>
            <li>
              <!-- TODO: add mode switch -->
              <Icon name="icon-park-outline:sun-one" />
              <!-- <Icon name="icon-park-outline:moon" /> -->
            </li>
          </li>
        </ul>
      </nav>
    </div>
  </div>

  <style>
    .header {
      @apply flex gap-4 border-b py-3 /* border-gray-200 dark:border-gray-700 - check styles/global.css */;
    }
    svg {
      @apply hover:text-primary min-h-6 min-w-6 cursor-pointer;
    }
  </style>
</header>
