---
import { SITE } from "@/config"
import { Icon } from "astro-icon/components"

const heading = "Wenxuan Pan"
const subHeading = "Aspiring fullstack web developer"
---

<header class="flex gap-4 border-b py-3">
  <div class="header__logo">
    <a href="/" class="avatar" aria-label="Portfolio home">
      <Icon
        name="wp-logo"
        class="w-16 h-16 rounded-full overflow-hidden text-primary dark:text-dark-primary"
        aria-hidden="true"
      />
    </a>
  </div>
  <div class="flex-1">
    <h2
      class="text-3xl font-extrabold md:text-5xl text-secondary dark:text-dark-secondary mb-2"
    >
      {heading}
    </h2>
    <div class="flex">
      <p class="text-xl flex-1 dark:text-gray-200">
        {subHeading}
      </p>
      <nav class="header__nav flex">
        <ul class="flex gap-3 text-gray-400">
          <li>
            <!-- TODO: add functionality -->
            <Icon name="icon-park-outline:search" aria-hidden="true" />
            <li>
              <a
                href={SITE.githubUrl}
                aria-label={`${SITE.name}'s Github URL'`}
              >
                <Icon
                  name="icon-park-outline:github-one"
                  class="hover:text-primary"
                  aria-hidden="true"
                />
              </a>
            </li>
            <li>
              <a href="/rss.xml" aria-label="Link to RSS">
                <Icon name="ph:rss" aria-hidden="true" />
              </a>
            </li>
            <li>
              <!-- TODO: add mode switch -->
              <Icon name="icon-park-outline:sun-one" />
              <!-- <Icon name="icon-park-outline:moon" /> -->
            </li>
          </li>
        </ul>
      </nav>
    </div>
  </div>

  <style>
    svg {
      @apply hover:text-primary min-h-6 min-w-6 cursor-pointer;
    }
  </style>
</header>
