---
import { NAV_ITEMS } from "@/config"
---

<nav class="py-3">
  <ul
    class="inline-flex list-none gap-8 text-xl font-semibold text-secondary dark:text-dark-secondary py-2 flex-wrap mb-8"
    transition:animate="fade"
  >
    {
      Object.keys(NAV_ITEMS).map((navItemKey) => (
        <li>
          <a
            class:list={[
              "pb-1 border-b-2 hover:border-gray-400 hover:dark:border-gray-700 capitalize",
              Astro.url.pathname === NAV_ITEMS[navItemKey].path
                ? "border-primary"
                : "border-transparent"
            ]}
            href={NAV_ITEMS[navItemKey].path}
            title={NAV_ITEMS[navItemKey].title}
          >
            {NAV_ITEMS[navItemKey].title}
          </a>
        </li>
      ))
    }
  </ul>
</nav>
