---
import "@fontsource-variable/fira-code"
import "@fontsource-variable/open-sans"
import BaseHead from "../components/BaseHead.astro"
import { SITE } from "@/config"
import BackgroundWrapper from "@/components/BackgroundWrapper.astro"
import Header from "@components/Header.astro"
import Nav from "@/components/Nav.astro"
import Footer from "@/components/Footer.astro"

interface Props {
  pageTitle?: string
  description?: string
}

const { pageTitle, description } = Astro.props
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead
      title={pageTitle ? `${pageTitle} | ${SITE.title}` : SITE.title}
      description={description || SITE.description}
    />
  </head>
  <body class="font-sans antialiased min-h-screen bg-gray-50 dark:bg-gray-800">
    <BackgroundWrapper>
      <Header />
      <Nav />
      <main>
        <slot name="before-title" />
        {
          pageTitle && (
            <div class="py-4 mb-1">
              <h1 class="text-4xl font-extrabold text-primary dark:text-dark-primary leading-snug">
                {pageTitle}
              </h1>
              {description && <p class="text-gray-700">{description}</p>}
            </div>
          )
        }
        <slot />
      </main>
      <Footer />

      <style is:global>
        html {
          @apply font-sans;
        }
        code {
          @apply font-mono;
        }
      </style>
    </BackgroundWrapper>
  </body>
</html>
